<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>照片</string>
		<key>image</key>
		<string>pic_icon_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拍摄</string>
		<key>image</key>
		<string>photo_icon_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>视频聊天</string>
		<key>image</key>
		<string>video_icon_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拨打电话</string>
		<key>image</key>
		<string>calling_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他</string>
		<key>image</key>
		<string>file_icon_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他1</string>
		<key>image</key>
		<string>patient_icon_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他2</string>
		<key>image</key>
		<string>myconsulter_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他3</string>
		<key>image</key>
		<string>historyconsutl_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他4</string>
		<key>image</key>
		<string>historyconsutl_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他5</string>
		<key>image</key>
		<string>historyconsutl_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他6</string>
		<key>image</key>
		<string>historyconsutl_nor</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他7</string>
		<key>image</key>
		<string>historyconsutl_nor</string>
	</dict>
</array>
</plist>
